MONGODB_URI=mongodb://127.0.0.1:27017
BACKEND_URL=http://localhost:4000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin@123
JWT_SECRET=your_jwt_secret

RAZORPAY_KEY_ID=your_razorpay_key
RAZORPAY_KEY_SECRET=your_razorpay_secret
CURRENCY=INR

admin_Url=http://localhost:5174
frontend_Url=http://localhost:5173
